.tribe-mini-calendar-event {
  border-bottom: none; 
  margin-bottom: 12px;
  padding-bottom: 0;}
  .tribe-mini-calendar-event .list-info h2 a {
    color: #004a8d; }
  .tribe-mini-calendar-event .list-date, .tribe-mini-calendar-event td.tribe-events-has-events.tribe-events-present {
    background: #004a8d; }
  .tribe-mini-calendar-event .list-date:first-child {
    margin-top: 0; }
  .tribe-mini-calendar-event .list-info {
    margin-top: 0;
    font-size: 14px; }

.tribe-events-widget-link {
  margin-bottom: 0;
  font-size: 14px; }
  .tribe-events-widget-link a {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
	}
    .tribe-mini-calendar td.tribe-events-has-events.tribe-events-present, .tribe-mini-calendar td.tribe-events-has-events.tribe-mini-calendar-today {
    	background-color: #004A8D;
    }
