#tribe_events_filters_wrapper.tribe-events-filters-horizontal, .tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal {
	margin-bottom: 0;
}
#tribe_events_filters_toggle {
	font-size: .9em;
	font-weight: normal;
}