.single-events-header {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #717171;
}
.single-events-header h4, .single-events-header h2 {
	color: white;
}
.single-events-header h4 {
	padding-bottom: 5px;
}
.single-events-header h2 {
	margin-bottom: 0;
}
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  background-color: #555555; }
.events-list .tribe-events-loop, .single-tribe_organizer .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .tribe-events-day .tribe-events-loop {
  max-width: 100%; }
.tribe-events-list-separator-month {
  margin: .25em auto; }
.type-tribe_events {
	padding-top: 1em;
	border: none;}
.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first {
  padding-top: 0; }

.tribe-events-list .type-tribe_events {
  border-bottom: 1px solid #cccccc; }

.single-tribe_venue #tribe-events-content h2.list-title {
  display: none; }

.tribe-events-list-event-title a {
  color: #004a8d; }
  #tribe-events #tribe-events-content .tribe-events-page-title {
    text-align: left;
    margin: 0; }
#tribe-events .tribe-events-content p {
  font-size: 16px;
  line-height: 1.675;
  margin-bottom: 20px; }
  #tribe-events .tribe-single-meta h4 {
    margin-bottom: 0; }
  #tribe-events .tribe-single-meta .addthis_sharing_toolbox {
    margin-top: -10px; }
#tribe-events a.tribe-events-gcal, #tribe-events a.tribe-events-ical {
  margin-top: 0; }
#tribe-events .tribe-events-event-meta .tribe-events-meta-group-gmap {
  width: 66.66%; }
#tribe-events .tribe-events-venue address.venue-address {
  margin-bottom: 0; }
#tribe-events .tribe_events_bar .tribe-bar-search-filter {
  width: 75%;
  padding: 0; }
#tribe-events .tribe-mini-calendar-event {
  border-bottom: 1px solid #cccccc; }
  #tribe-events .tribe-mini-calendar-event .list-info {
    font-size: 14px; }
#tribe-events-sub-nav-wrap .tribe-events-sub-nav {
	list-style: none;
	text-align: right;
	margin: 10px 0 0 0;
}
#tribe-events-sub-nav-wrap .tribe-events-sub-nav li {
	display: inline-block;
	padding-left: 20px;
}
#tribe-events-bar {
	margin-bottom: 10px;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views+.tribe-bar-filters {
	display: block !important;
}
.tribe-bar-collapse #tribe-bar-collapse-toggle {
	width: 60%;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
	width: 40%;
}
#tribe-events-content .tribe-events-tooltip h4 {
	font-size: 16px;
}
#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical {
	color: #004A8D;
}
.tribe-events-tooltip .tribe-events-event-body {
	padding: 4px 0px 8px 0px;
	font-size: 13px;
}
@media (max-width: 767px) {
  .events-month #tribe-events-footer ~ a.tribe-events-ical.tribe-events-button {
    display: none; }

  .tribe-events-event-meta .tribe-events-meta-group-gmap, #tribe-events-sub-nav-wrap, #tribe-events-footer~a.tribe-events-ical.tribe-events-button {
    display: none; } 
   
   }
@media print {
  #mainmenu, 
  #tribe-events-bar,
  #tribe-events-footer,
  #tribe-events-button,
  #tribe_events_filters_wrapper,
  #footer-top,
  #footer-bottom,
  #footer-social,
  #header-global,
  #header-mobile {
    display: none; }

  .tribe-events-ical,
  .tribe-events-button {
    display: none !important; }

  .main-nav {
    display: none; }

  .tribe-events-month-event-title,
  .print-only {
    display: block; } }
    
#tribe-bar-views .tribe-bar-views-list {
	z-index: 1;
}
